
h1.header1 {
    color:rgb(128, 30, 30);
    font-family:verdana;
    font-size:40px;
}
body {
  background-image: url('../images/two_phones.png');
}
button.button1 {
    background-color: rgb(216, 233, 216);
    border: 2px solid #4CAF50;
    border-radius: 8px;
    color: black;
    padding: 14px 20px;
    position: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }