
h1.header1 {
    color:white;
    font-family: url('fonts/Gotham-Spotify-Font/GothamBold.ttf');
    font-size: 55px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-right: 60px;
    margin-left: 60px;
    text-align: center;
    text-shadow: 2px 2px 10px green;
     
    
}
body {
  background-image: url('../images/two_phones.png');
  background-size: cover;
}


a.link1 {
  color: white;
  background-color: green;
  font-size: 20px;
  font-family: url('fonts/Gotham-Spotify-Font/GothamBold.ttf');
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
