{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UTWPM{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'login' %}">"UnderTheWeatherPlaylistMaker"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">How it Works</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Get in Touch</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content%} {% endblock %}
</div>

<div class="footer">
<footer class="bg-dark text-white text-center py-2 mt-4">
    <p>&copy; 2023 Dmitrii Alekseev
    <a href="https://www.linkedin.com/in/dmitrii-alekseev-py/" target="_blank" style="font-size:24px"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://github.com/Baobear520" target="_blank" style="font-size:24px; color:white"><i class="fa fa-github-square"></i></a>
    </p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

</body>
</html>
