{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}"></link>
{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Author: Dmitrii Alekseev</h2> 
    <p> 
    <div class="link">
        <p>
        <a href="https://www.linkedin.com/in/dmitrii-alekseev-py/" target="_blank">Linkedin</a>
        </p> 
        <a href="https://github.com/Baobear520" target="_blank">GitHub</a>
        </div>
    </p>
    </div>
{% endblock %}