{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Create playlist</title>
</head>
<body class="form-body">
    <h1 class="header2">We've got a cool playlist for you!</h1>
    <div class="form-container">
        <form id='playlist-form' action="/create-playlist/" method="POST"> 
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Create playlist">
        </form>
    </div>
        <div class="widget" id="openweathermap-widget-12"></div>
        <script>
            window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  
            window.myWidgetParam.push({
                id: 12,
                cityid: '{{city_id}}',
                appid: '{{api_key}}',
                units: 'metric',
                containerid: 'openweathermap-widget-12',});  (function() {
                    var script = document.createElement('script');
                    script.async = true;
                    script.charset = "utf-8";
                    script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(script, s);  
                })
            ();
        </script>
    
</body>
</html>
