<!DOCTYPE html>
<html>
<head>
    <title>Create playlist</title>
</head>
<body>
    <h1>We've got a cool playlist for you!</h1>
    
        <form id='playlist-form' action="/create-playlist/" method="POST"> 
            {% csrf_token %}
            {{form}}
            {{form.error}}
            <input type="submit" value="Create playlist">
        </form>
        <div id="openweathermap-widget-12"> </div>
        <script>
            window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  
            window.myWidgetParam.push({
                id: 12,
                cityid: '{{city_id}}',
                appid: '{{api_key}}',
                units: 'metric',
                containerid: 'openweathermap-widget-12',});  (function() {
                    var script = document.createElement('script');
                    script.async = true;
                    script.charset = "utf-8";
                    script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(script, s);  
                })
            ();
        </script>
    <script> 
        
        document.addEventListener('DOMContentLoaded', function() {
            const playlistForm = document.getElementById('playlist-form');
            //Erase the input from the form
            if (playlistForm) {
            playlistNameInput.value = '';
            }
        });
    </script>
    

</body>
</html>
