{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
  <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="body">
  <img src='music/static/images/music/home_page/two_phones.png'></img>
    <h1 class="header1">Generates Spotify playlists according to the current weather.</h1>
    <p>
    <button class="button1"> 
    <a href='/create-playlist'>Try it</a></button>
    </p>
</html>
