<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hey! Feeling ___ today, we've got a playlist for you!</h1>
    <h3>Create a Playlist</h3>

    <form id="playlist-form">
        {% csrf_token %}
        <input type="text" id="playlist-name" placeholder="Enter Playlist Name" required>
        <input type="submit" value="Create Playlist">
    </form>
    
    <div id="success-message" style="display: none;">
        <p>Great! Your new playlist is already added on Spotify. Check it out!</p>
        <a id="spotify-link" href={{url}}>Listen on Spotify</a>
    </div>
    <script src="{% static 'music/main.js' %}"></script>
</body>
    
</body>
</html>