<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    .button1 {
        background-color: white;
        border: 2px solid #4CAF50;
        border-radius: 8px;
        color: black;
        padding: 14px 40px;
        position: center;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: auto;
        cursor: pointer;
        transition-duration: 0.4s;
      }
      .button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
      }
    </style>
<body>
    <p>Generates Spotify playlists according to the current weather.</p>
    <button class="button button1"> 
    <a href='/create-playlist'>Try it</a></button>
</html>