<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainy Day Playlist</title>
</head>
<body>
    <a href='/playlist/redirect-to-spotify'>Listen on Spotify</a>
   {% for track in playlist %}

    <h2>Track name - {{track.name}}</h2>
    <p>Album - {{track.album.name}}</p>
    <p>Image - {{track.album.images.1.url}} </p>
    <p>Artist - 
        {% for artist in track.artists %} 
            {{artist.name}}
        {% endfor %}    
    </p>
    <p>Link - {{track.external_urls.spotify}}</p>

   {% endfor %}
</body>
</html>