{% extends "1/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_playlist.css' %}">
{% endblock %}

{% block content %}
<div class="row mt-5">
            <!-- Weather Widget -->
            <div class="weather-widget">
                <div id="openweathermap-widget-12"></div>
                <script>
                    window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
                    window.myWidgetParam.push({
                        id: 12,
                        cityid: '{{city_id}}',
                        appid: '{{api_key}}',
                        units: 'metric',
                        containerid: 'openweathermap-widget-12',
                    });
                    (function () {
                        var script = document.createElement('script');
                        script.async = true;
                        script.charset = "utf-8";
                        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(script, s);
                    })();
                </script>
            </div>
    <div class="col-md-8 offset-md-2">
        <h2>Create a Playlist</h2>
        <form method="post" action="{% url 'create-playlist' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Playlist</button>
        </form>

        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <h4 class="alert-heading">Error!</h4>
                {% for error in form.errors %}
                {% endfor %}
            </div>
        {% endif %}


    </div>
</div>
{% endblock %}


